body {
  
  background-image: url('images/lightning.jpg');
  margin: 0;
  text-align: center;
  /* padding: 20px; */
  background-color: rgba(201, 76, 76, 0.3);
}
.mee{
  text-align: left;
  margin: 0;
  padding-right: 350px;
  color: white;
}
.mee:hover{
  color: black;

}
.linking{
  color: skyblue;
  background-color: #2f4f4f;
  margin: 0;
  padding: 20px;
  }
.linking:hover{
  color: firebrick;
  background-color: blanchedalmond;
  font-size: 20px;
} 
.headers{
  background-color:#1e90ff;
  padding: 20px; 
  border-style: solid;
  border-color: green;
  border-width: 0 0 5px 0 ;
  
}

.ournews{

  background-color: palegoldenrod;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 60px;
}

h1 {
  color: #66BFBF; 
font-size: 40px;
  font-family: , sans-serif;
  text-align: left ;
}
h2 {
  color: #66BFBF; 
  font-family: sans-serif;
}
h3 {
  font-family: sans-serif;
  color: #11999E;
}
p {
  line-height: 2;
  margin: 0;
}
.topcontainer {
  position: relative;
  left: 450px;
  height: 200px;
  width: 600px;
  font-size: 20px; 
  font-weight: normal;
  
} 
.mydetails{
  text-align: left;
  
}




.middle-container{
magin: 100px auto 100px auto;

}
.bottom-container{
  /* font-size: 20px; */
  text-align: center;
background-color:#66BFBF;
margin-top: 400px; 
padding-top: 0; 
position: static;
}

.details{
   text-align: center;



}
a{
  margin: 10px 20px;
  text-decoration: none;
  font-size: 20px;
}
a:hover{
  color: blue;
}




 .copyright{
  color: #eaf6f6;
  padding: 10px 0;
 }
 .copyright:hover{
  color: greenyellow;
 }

.nearform{
  color: #483d8b;
  font-size: 20px;
  font-family: Times New Roman,sans-serif;
}
.top{
  background-color: #008080;
  width: 200px;
  height: 120px;
  padding-bottom: 20px;
  border-radius: 30px;
  position: absolute;
}
.top:hover{
  color: white;
  background-color: black;
 
}
.midlle{
  background-color: #808000;
  width: 200px;
  height: 140px;
  border-radius: 30px;
   position: absolute;
   left: 400px;

}
.midlle:hover{
  color: #32cd32;
  background-color: #191970;
}

.bottom{
  background-color: #5f9ea0;
  width: 200px;
  height: 120px;
  padding-bottom: 20px;
  border-radius: 30px;
  position: absolute;
left: 800px;
}
.bottom:hover{
  color: white;
  background-color: blue;

}
.linkup{
  font-family: Times New Roman,sans-serif;
  color: black;
  line-height: ;
  font-size: 20px;
}
.forming{
  padding: 20px;
  background-color: #ffdead;
  width: 50%;
  align: center;
  margin-bottom: 20px;
}
.forming:hover{
  color: #ffffff;
  background-color:#9acd32 ;
}


.aboutmee{
  /* position: absolute; */
  width: 800px;
  height: 21  0px;
  font-size: 15px;
  height: 2;
  color: ;
  /* background-color: #7fffd4; */
  
}
.whatwedo{
  background-color: #c0c0c0;
   position: absolute; 
  width: 400px; 
  height: 300px;
  right: 100px;
  margin: 0;
  top: 100px;
  right: 20px;
}
.ourmission{
  background-color: grey;
   position: absolute; 
   width: 800px; 
  height: 100px;
}
.missing{
  text-align: left;
  
}

.webdesign{
  background-color: red;
  width: 600px;
  height: 200px;
}
.networking{
  background-color: white;
   width: 600px;
  height: 200px;
  
}
.pricing{
  background-color: yellow;
  width: 600px;
  height: 200px;
  
}
.forms-service{
  background-color: darkgray;
 position: absolute;
 top: 100px;
 right: 20px;

}



/* styling contact me */
.imhere{

}
.intouch{
 
}

.button{
  align: right;
}

.subscribing{
  
}
.bigletters{
  }